.about {
  overflow-y: scroll;
  max-width: 100%;
  margin-top: -5%;
}
.pageTitle {
  text-align: center;
  font-size: 42px;
}
.aboutDescription {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 28px;
  font-family: "Bebas Neue", cursive;
  margin-top: -3%;
}
