.home {
  text-align: center;
  font-family: "Teko", sans-serif;
}

.nextQuote {
  /* display: flex;
  justify-content: center;
  align-items: flex-end; */
  font-family: "Teko", sans-serif;
  width: 75px;
  font-size: 18px;
}

.thumbUp {
  padding-left: 5%;
  color: rgb(173, 173, 173);
}

.buttonBar {
  padding-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 100;
}
