/* css for modal */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: rgb(187, 187, 187);
  width: 50%;
  height: 400px;
  border-radius: 5px;
  border: 3px solid rgb(252, 193, 203);
  box-shadow: -5px 5px 5px rgb(167, 167, 167);
}
.submitBtn {
  color: red;
}
label {
  padding-left: 25%;
}
